{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
    <head>
      {% load static %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Reacr Test API</title>
      <link href='{% static 'bootstrap/dist/css/bootstrap.min.css' %}' rel="stylesheet">
    </head>
    <body>
      <div class="app" class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" align="center"></div>
      {% render_bundle 'main' %}
    </body>
</html>
